<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Module/etc/module.xsd">
<acl>
    <resources>
        <resource id="Magento_Backend::admin">

            <resource id="ClientContact_Gestion::menu_item" title="Contact Management" sortOrder="100" translate="title">
                <resource id="ClientContact_Gestion::configuration" title="Contact Reason" sortOrder="10">
                    <resource id="ClientContact_Gestion::contact_save" title="Save Contact" sortOrder="10" />
                </resource>
                <resource id="ClientContact_Gestion::customers" title="Customer Contact" sortOrder="10">
                    <resource id="ClientContact_Gestion::customer_contact_save" title="Save Customer Contact" sortOrder="10" />
                </resource>
            </resource>

            <resource id="Magento_Backend::stores">
                <resource id="Magento_Backend::stores_settings">
                    <resource id="Magento_Config::config">
                        <resource id="ClientContact_Gestion::management" title="Contact Section" />
                    </resource>
                </resource>
            </resource>
        </resource>
    </resources>
</acl>
</config>
